<% @users.each do |a| %>
    <p>
        
        [ユーザID]
        <%= a.uid %>
        [パスワード]
        <%= a.pass %>
        
        
        
        
        
    </p>
<% end %>
<p><%= link_to 'アカウント作成', "/users/new" %></p>